<div class="section">
    <h2 class="section-heading">{{ section.name }}</h2>
    {% for edu in section.content %}
        <div class="education-item">
            <p>
                {% if edu.icon %}
                    <img src="{{ icon_path }}/{{ edu.icon }}" alt="School Icon" class="school-icon">
                {% endif %}
                <strong>{{ edu.degree | markdown_links | markdown_formatting | safe }}</strong>, {{ edu.school | markdown_links | markdown_formatting | safe }} - {{ edu.year | markdown_links | markdown_formatting | safe }}
            </p>
        </div>
    {% endfor %}
</div>
